.modal-header
    button.close(ng-click='closeMe()') &times
    label Моля въведете:

.modal-body
    .well.ask


        .inner.center-block
            form.form-horizontal(role="form")
                .form-group
                    label.control-label(ng-show='titles') Тема:
                    .necessary.pull-right необходима е
                    input.form-control.input-lg(ng-enter="ent()",ng-blur="alert[0]=''", id='name', autofocus="autofocus", type="text", ng-model="product.name")
                    p.alerting {{alert[0]}}
                .form-group
                    label.control-label(ng-show='titles') Мнение:
                    p.alerting {{alert[2]}}
                    textarea#mnenie.form-control(cols=40 ,rows=4, ng-model="proscon")

                .center-block
                    #spin(ng-show='uploadSpin', ng-activity-indicator='', skip-ng-show="yes")
                .form-group
                    label.control-label(ng-show='titles') Препоръки:
                    textarea.form-control(cols=40 ,rows=4, ng-model="conscon")
                .row
                    .text-center
                        label(ng-show='!imageExist') Добавете снимка, ако желаете
                        label(ng-show='imageExist') Премахнете снимката, ако не е необходима
                    .col-xs-6

                        .text-center
                            .fileUpload.btn.btn-success.big(ng-disabled='imageSpin',ng-hide = 'imageExist') Вземи
                                    input.gg.upload(type="file" ng-file-select="addImage($files)" accept="image/*")
                            button#but.btn.btn-default(ng-enter='ent()', ng-show = 'imageExist' ,ng-click="removeImage()") Премахни
                        p.alerting {{alert[1]}}
                    .col-xs-6
                        .thumbnail.preview
                            img(ng-show='imageExist', ng-src='{{img}}')
                            p.text-center(ng-show='imageSpin') {{imageMessage}}
                            #spin(ng-show='imageSpin', ng-activity-indicator='', skip-ng-show="yes")

.modal-footer
    button.btn.btn-primary.center-block(ng-disabled='imageSpin',ng-click='upload()') Добавяй