.modal-header
    button.close(ng-click='closeMe()') &times
    label Моля въведете:

.modal-body
    .well.ask
        .inner.center-block
            form.form-horizontal(role="form")
                .form-group
                    label.control-label(ng-show='titles') Относно:
                    .necessary.pull-right необходима е
                    input.form-control.input-lg(ng-enter="ent()",ng-blur="alert[0]=''", id='name', autofocus="autofocus", type="text", ng-model="product.name")
                    p.alerting {{alert[0]}}
                .form-group
                    label.control-label(ng-show='titles') Споделете своето мнение:
                    p.alerting {{alert[2]}}
                    textarea#mnenie.form-control(cols=40 ,rows=4, ng-model="proscon")

                    //#spin(ng-show='uploadSpin', ng-activity-indicator='', skip-ng-show="yes")
                .form-group
                    label.control-label(ng-show='titles') Имате ли препоръки:
                    textarea.form-control(cols=40 ,rows=4, ng-model="conscon")
                .form-group
                    .media
                        .pull-left
                            img(ng-show='imageExist', ng-src='{{img}}')

                        .media-body
                            h5.media-heading(ng-show='imageExistGet') Вземете снимка, ако желаете

                            p.alerting {{alert[1]}}
                            .fileUpload.btn.btn-success(ng-show='imageExistGet') Вземи
                                 input.upload(type="file" ng-file-select="addImage($files)" accept="image/*")
                            p(ng-show='imageExist && !imageSpin') Откажете снимката, ако желаете
                            button.btn.btn-default(ng-enter='ent()', ng-show='imageExist && !imageSpin' ,ng-click="removeImage()") Откажи

                            .thumbnail.preview(ng-show='imageSpin')
                                p.text-center {{imageMessage}}
                                #spin.center(ng-activity-indicator='')

                    //  p.alerting {{alert[1]}}
                    //    //label(ng-show='imageExist') Премахнете снимката, ако не е необходима
                    //.row
                    //    .col-xs-4
                    //        .fileUpload.btn.btn-success.big(ng-disabled='imageSpin',ng-hide = 'imageExist') Вземи
                    //                input.gg.upload(type="file" ng-file-select="addImage($files)" accept="image/*")
                    //        button#but.btn.btn-default(ng-enter='ent()', ng-show = 'imageExist' ,ng-click="removeImage()") Откажи
                    //
                    //    .col-xs-8
                    //
                    //
                    //            .thumbnail.preview
                    //                img#asda(ng-show='imageExist', ng-src='{{img}}')
                    //                p.text-center(ng-show='imageSpin') {{imageMessage}}
                    //                #spin(ng-show='imageSpin', ng-activity-indicator='', skip-ng-show="yes")

.modal-footer
    button.btn.btn-primary.center-block(ng-disabled='adding', ng-click='upload()') Добавяй