div(ng-controller='LoginCtrl')
    button.navButtons.btn.btn-default.pull-right(id='si', ng-show="!identity.isAuthenticated()", ng-click="SignIn('sm')") Sign In
    button.navButtons.btn.btn-default.pull-right(ng-show="identity.isAuthenticated()", ng-click="logout()") Sign Out
     //| {{identity.currentUser.username}}
