div(ng-controller='LoginCtrl')
    button.navButtons.btn.btn-default.pull-right(ng-show="!identity.isAuthenticated()", ng-click="SignIn('sm')") Sign In


    button.navButtons.btn.btn-default.pull-right(ng-show="identity.isAuthenticated()", ng-click="logout()") {{identity.currentUser.username}}
    //ul.nav.navbar-nav.pull-right(ng-show="identity.isAuthenticated()")
    //    li.dropdown
    //        a.dropdown-toggle(href="", data-toggle="dropdown")
    //            | {{identity.currentUser.username}}
    //            span.caret
    //        ul.dropdown-menu
    //            li
    //                a(href="") My products
    //            li
    //                a(href="") My comments
    //            li.divider
    //            li
    //                a(href="") My account
    //            li.divider
    //            li
    //                a(href="" ng-click="logout()") Sign Out
