.modal-header
    label Enter your credentials:
.modal-body
    .well(id='login')
        .form-group
            //label Потребителско име
            input.form-control(placeholder='Потребителско име', id='username',ng-blur="proppername=''",ng-change="valid()",autofocus="true",ng-enter="ent()", type='text', ng-model='user.username', ng-trim='false')
            p.alerting {{proppername}}
            br
            //label Парола
            input.form-control(placeholder='Парола', id='password',ng-blur="propperpass=''",ng-change="valid()", ng-enter="ent()", type='password', ng-model='user.password', ng-trim='false')
            p.alerting {{propperpass}}
            a.pull-right(href='', ng-click='forgottenPass()')
                span Забравена парола
    p#redAlert.alerting.text-center
.modal-footer

    a.pull-left(href='', ng-click="signUp()") SignUp

    button.btn.btn-primary(id='bbb', ng-click="ok()", ng-hide='!user.username || !user.password') OK
    button.btn.btn-warning(ng-click="cancel()") Cancel
