.modal-header
    b.closeMe.pull-right(ng-click='closeMe()') x
    label Моля въведете:

.modal-body
    .well(id='login')
        .form-group
            //label Потребителско име
            input.form-control(placeholder='Потребителско име', id='username',ng-blur="proppername=''",ng-change="valid()",autofocus="true",ng-enter="ent()", type='text', ng-model='user.username', ng-trim='false')
            p.alerting {{proppername}}
            br
            //label Парола
            input.form-control(placeholder='Парола', id='password',ng-blur="propperpass=''",ng-change="valid()", ng-enter="ent()", type='password', ng-model='user.password', ng-trim='false')
            p.alerting {{propperpass}}
            a.smalldown.pull-right(href='', ng-click='forgottenPass()') Забравих си паролата
.modal-footer
    a.smalldown.pull-left(href='', ng-click="signUp()") Регистрирай ме
    button.btn.btn-primary(id='bbb', ng-click="ok()", ng-hide='!user.username || !user.password') Влез
    button.btn.btn-default(ng-click="cancel()", ng-hide='user.username && user.password') Откажи
