.modal-body
    .well
        form.form-horizontal(name='signUpForm')
            fieldset
                legend Create User :
                .form-group
                    label.col-md-3.control-label(for='username') Username
                    .col-md-9
                        input.form-control(id='username', autofocus="autofocus", type='text', placeholder='username', ng-model='user.username', ng-click='clearUsernameError()', required)
                .form-group
                    label.col-md-3.control-label(for='pass') Password
                    .col-md-9
                        input.form-control(id='pass', type='password', placeholder='password', ng-model='user.password', required)

                br
                .form-group
                    label.col-md-3.control-label(for='fname') First Name
                    .col-md-9
                        input.form-control(id='fname', type='text', placeholder='First name', ng-model='user.firstName', required)
                .form-group
                    label.col-md-3.control-label(for='lname') Last Name
                    .col-md-9
                        input.form-control(id='lname', type='text', placeholder='Last Name', ng-model='user.lastName', required)
                .form-group
                    label.col-md-3.control-label(for='email') E-mail
                    .col-md-9
                        input.form-control(id='email', type='text', placeholder='e-mail', ng-model='user.email', ng-click='clearEmail()', required)
                        div.redAlertEmail
                .form-group
                    label.control-label(id='redAlert', for='allert')
                    .col-md-8

                        button.sinupMargin.btn.btn-warning.pull-right(ng-click="cancel()") Cancel
                        button.btn.btn-primary.pull-right(ng-disabled='signUpForm.$invalid', ng-click="signUp(user)") Save




