.modal-header
    label Enter your credentials:
.modal-body
    .well(id='login')
        .form-group
            label Username
            input.form-control(id='username',autofocus="true",ng-enter="ent()", ng-click='clear()', type='text', ng-model='user.username')
            br
            label Password
            input.form-control(id='pass',ng-enter="ent()",ng-click='clear()', type='password', ng-model='user.password', required=)
            a.pull-right(href='', ng-click='forgottenPass()')
                h6 Forgot password

.modal-footer
    #redAlert.text-center
    a.pull-left(href='', ng-click="signUp()") SignUp

    button.btn.btn-primary(id='bbb', ng-click="ok()", ng-hide='!user.username || !user.password') OK
    button.btn.btn-warning(ng-click="cancel()") Cancel
