.container
    .row
        .col-md-6
            .panel
                .panel-body
                    .well
                        label Относно:
                        p {{Product.name}}
        .col-md-6
            img.fromShow.center-block(ng-if='!!Product.picture[0].filename', ng-src='/get_image/{{Product.picture[0].filename}}')



    .row
        .col-md-6
            //button.btn.btn-primary(data-toggle='modal' data-target="#prosModal") Добави мнение
            //div.modal.fade(id='prosModal', tabindex="-1", role="dialog", aria-labelledby="prosModalLabel" aria-hidden="true")
            //    .modal-dialog
            //        .modal-content
            //            .modal-body
            //                .form-group
            //                    label.col-sm-4.control-label Напишете коментар:
            //                    .col-sm-8
            //                        textarea.form-control(cols=40 ,rows=5 , ng-model="commentPros", maxlength='100')
            //            .modal-footer
            //                hr
            //                a.btn.btn-primary(href='', ng-click='addCommentPros()', data-dismiss='modal') Save
            //                a.btn.btn-primary(href='', data-dismiss='modal') Cancel
            p
            .panel.panel-success
                .panel-heading
                    label Мнения:
                .panel-body
                    ul.list-unstyled
                        li.panel.panel-success(ng-repeat='item in Product.pros', ng-show='!item.flagIsNew')
                            .panel-body
                                .well
                                    p {{item.content}}
                            .panel-footer.pros-color
                                //| user:
                                //span &nbsp{{item.userAdded}}
                                //br
                                //| date:
                                span добавен на: &nbsp{{item.dateAdded | limitTo : 10}}

        .col-md-6
            //button.btn.btn-primary(data-toggle='modal' data-target="#consModal") Добави препоръка
            //div.modal.fade(id='consModal', tabindex="-1", role="dialog", aria-labelledby="consModalLabel" aria-hidden="true")
            //    .modal-dialog
            //        .modal-content
            //            .modal-body
            //                .form-group
            //                    label.col-sm-4.control-label Напишете коментар:
            //                    .col-sm-8
            //                        textarea.form-control(cols=40 ,rows=5 , ng-model="commentCons", maxlength='100')
            //            .modal-footer
            //                hr
            //                a.btn.btn-primary(href='', ng-click='addCommentCons()', data-dismiss='modal') Save
            //                a.btn.btn-primary(href='', data-dismiss='modal') Cancel
            p
            .panel.panel-danger
                .panel-heading
                    label Препоръки:
                .panel-body
                    ul.list-unstyled
                        li.panel.panel-danger(ng-repeat='item in Product.cons', ng-show='!item.flagIsNew')
                            .panel-body
                                .well
                                    p {{item.content}}
                            .panel-footer.cons-color
                                //| user:
                                //span &nbsp{{item.userAdded}}


                                span добавен на: &nbsp{{item.dateAdded | limitTo:10}}
