.container
    .media
        a.pull-left(href='', ng-click='showMe()')
            .thumbnail
                img#imgShow.media-object(alt="Няма Снимка",ng-if="Product.thumbnail" , ng-src='/thumb/{{Product.thumbnail}}')
        .media-body
            label.media-heading {{Product.name}}
            h4.media-heading
                small
                    i {{Product.dateAdded | limitTo : 10}}
            br
    .row
        .col-md-6
            .panel.panel-success
                .panel-heading
                    label Мнения:
                    .label.pull-right.vert
                        button.btn.btn-default.btn-sm(ng-click='addCommentPros()') Добави мнение
                .panel-body.pross
                    ul.list-unstyled
                        li.panel.panel-success(ng-repeat='item in Product.pros', ng-show='!item.flagIsNew')
                            .panel-body.zzz
                                textarea.form-control(msd-elastic, ng-model="item.content", ng-disabled='true')
                                span.data.pull-right добавен на: &nbsp{{item.dateAdded | limitTo : 10}}
        .col-md-6
            .panel.panel-danger
                .panel-heading
                    label Препоръки:
                    .label.pull-right.vert
                        button.btn.btn-default.btn-sm(ng-click='addCommentCons()') Добави препоръка
                .panel-body.pross
                    ul.list-unstyled
                        li.panel.panel-danger(ng-repeat='item in Product.cons', ng-show='!item.flagIsNew')
                            .panel-body.zzz
                                textarea.form-control(msd-elastic, ng-model="item.content", ng-disabled='true')
                                span.data.pull-right добавен на: &nbsp{{item.dateAdded | limitTo:10}}




