.container.recover
    .well.center-block
        label.text-center Задайте нова парола!
        hr
        form.form-group
            p Password

            div(id="wrongSymbol" popover-trigger="show" popover-placement="top" popover="{{popSymbol}}")
                //span sdfsdfsdf
            input.form-control(id='pass', autofocus="autofocus", type='password', ng-model='user.password', ng-click='clearpass()')
            p.redAlert.pass.pull-right
            br
            p Confirm Password

            input.form-control(id='passconfirm', type='password', ng-model='passwordConfirm', ng-click='clearconf()')
            p.redAlert.conf.pull-right
            br
            br
            //button.btn.btn-warning.pull-right(ng-click="cancel()") Cancel
            button.btn.btn-primary.pull-right(ng-click="recover()") Recover
            br