div#spin
.container
    .topone.center-block
        button.addProdBut.center-block.btn.btn-primary(ng-click='addProduct()') Добавяй
        .input-group.addProdSearch
            input.form-control.search(type="text" ng-model="search" typeahead="a for a in getProd($viewValue)")
            span.input-group-btn
                button.btn.btn-danger(type="button", ng-click='goSearch()') Намери

.container
    ul.list-inline.aaa
        li(ng-repeat='item in products')
                a.thumbnail.home(href='/productShow/{{item._id}}')
                    //p(tooltip="{{item.name}}") {{item.name | limitTo: 15 }}
                    p(tooltip="{{item.name}}") {{item.name | limitTo: 15 }}
                    img.home-image(ng-src='/get_image/{{item.thumbnail}}')
                    p Мнения:
                        span.badge {{getNumber(item.pros)}}
                    p Препоръки:
                        span.badge {{getNumber(item.cons)}}
                    p Дата:
                        span {{item.dateAdded | limitTo: 10}}
ul.pager
    li
        a.btn.btn-default(href="", ng-click="prev()") Назад
    li
        a.btn.btn-default(href="", ng-click="next()") Напред