.navbar.navbar-fixed-top.navbar-default(role='navigation')
    .navbar-inner
        .container
            .col-md-6
                p.addProdBut
                    a.btn.btn-default.col.btn-sm(href='', ng-click='addProduct()') Кажете и Вие
                    |  ,за да ви чуят всички ...
            .col-md-6
                .input-group.addProdSearch
                    input.form-control.search(ng-enter='ent()', type="text" ng-model="search" typeahead="a for a in getProd($viewValue)",typeahead-min-length=2, typeahead-on-select='sel()')
                    span.input-group-btn
                        button.btn.btn-default(type="button", ng-click='goSearch()') Намери
.container.mmm
    .well.center-block.nothing(ng-show='nothing')
        p.text-center {{info}}
    ul.list-inline.aaa
        li(ng-repeat='item in products')
            a.thumbnail.home(href='/topic/{{item._id}}')
                span.center-block.label.newTopic(ng-show='checkIsNew(item.dateAdded)') Ново
                label(tooltip="{{item.name}}") {{name(item.name)}}
                #imgsize
                    img.img-rounded.home-image(ng-src='/thumb/{{item.thumbnail}}')
                #bellow
                    label.yy Мнения:
                    span.pull-right.badge {{getNumber(item.pros)}}
                    br
                    label.yy Препоръки:
                    span.pull-right.badge {{getNumber(item.cons)}}
                    hr.seen
                    label.seen Видяно:
                    span.pull-right.badge.seen {{item.visited}}
ul.pager(ng-hide='nothing')
    //li
    //    a.btn.btn-default(href="", ng-click="prev()") &larr; Назад
    //li
    //    a.btn.btn-default(href="", ng-click="next()") Напред &rarr;
    li
           a.rr.btn.btn-default(href="", ng-click="next()") {{more}}