.container
    .topone.center-block
        button.addProdBut.center-block.btn.btn-primary(ng-click='addProduct()') Кажете и Вие
        .input-group.addProdSearch
            input.form-control.search(ng-enter='ent()', type="text" ng-model="search" typeahead="a for a in getProd($viewValue)",typeahead-min-length=2, typeahead-on-select='sel()')
            span.input-group-btn
                button.btn.btn-danger(type="button", ng-click='goSearch()') Намери

.container
    .well.center-block.nothing(ng-show='nothing')
        p.text-center {{info}}
    ul.list-inline.aaa
        li.biggi(ng-repeat='item in products')
            a.thumbnail.home(href='/topic/{{item._id}}')
                label(tooltip="{{item.name}}") {{item.name | limitTo: 15 }}
                #imgsize
                    img.img-rounded.home-image(ng-src='/thumb/{{item.thumbnail}}')
                #bellow
                    p Мнения:
                        span.pull-right.badge {{getNumber(item.pros)}}
                    p Препоръки:
                        span.pull-right.badge {{getNumber(item.cons)}}
                    hr.seen
                    p.seen Видяно:
                        span.pull-right.badge.seen {{item.visited}}
ul.pager(ng-hide='nothing')
    li
        a.btn.btn-default(href="", ng-click="prev()") Назад
    li
        a.btn.btn-default(href="", ng-click="next()") Напред