.container
    .topone.center-block

        button.addProdBut.center-block.btn.btn-primary(ng-click='addProduct()') Add Product
        .input-group.addProdSearch
            input.form-control.search(type="text" ng-model="search" typeahead="a for a in getProd($viewValue)")
            span.input-group-btn
                button.btn.btn-danger(type="button", ng-click='goSearch()') Go!

    .container
        .row
            ul.list-inline.center-block
                li(ng-repeat='item in products')
                        a.thumbnail(href='/productShow/{{item._id}}')
                            p.fix-text-length {{item.name}}
                            img.home-image(ng-src='/get_image/{{item.picture[0].filename}}')
                            p Za:
                                span.badge {{getNumber(item.pros)}}
                            p Protiv:
                                span.badge {{getNumber(item.cons)}}
                            p Date:
                                span {{item.dateAdded | limitTo: 10}}
    ul.pager
        li
            a.btn.btn-default(href="", ng-click="prev()") Prew
        li
            a.btn.btn-default(href="", ng-click="next()") Next