.container
    .center-block
        .input-group
            input.form-control.search(type="text" ng-model="search" typeahead="a for a in getLocation($viewValue)")
            span.input-group-btn
                button.btn.btn-danger(type="button", ng-click='goSearch()') Go!
        br
        a.btn.btn-primary.pull-right(href='/addProduct', ng-show = 'identity.isAuthenticated()') Add Product
        br

    hr
    .col-xs-10.col-sm-10.col-md-6.col-lg-6
        #location-element

    br
    .container
        .row
            ul.products.list-inline
                li(ng-repeat='item in products')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        a.thumbnail(href='/productShow/{{item._id}}')
                            p.fix-text-length Наименование:  {{item.name}}
                            img.home-image(ng-src='/get_image/{{item.picture[0].filename}}')
                            p Za:
                                span.badge {{getNumber(item.pros)}}
                            p Protiv:
                                span.badge {{getNumber(item.cons)}}
                            p Date:
                                span {{item.dateAdded | limitTo: 10}}
    ul.pager
        li
            a.btn.btn-default(href="", ng-click="prev()") Prew
        li
            a.btn.btn-default(href="", ng-click="next()") Next