
.mmm {
    padding-top: 100px;
}
.mm{
    padding-top: 20px;
}
.navbar {
    background-color: white;
}
.navButtons{
    margin-top: 8px;
}

/*--------------------------------------- for Home page-----------------------------------------*/
.thumbnail .newTopic {
    font-size: .9em;
    position: absolute;
    margin-top: -15px;
    margin-left: -10px;
    padding-left: 5px;
    padding-right: 5px;
}
.pager li>a {
    color: cornflowerblue;
    font-weight: 700;
    border: 2px solid grey;
}
.navbar{
    /*background-color: rgb(236, 231, 231);*/
    box-shadow: 0px 10px 20px  #fff;
}
.thumbnail {
    box-shadow: 5px 5px 10px #888888;

}
.zzz {
    padding: 5px 5px 2px 5px;
    box-shadow: 5px 5px 10px #888888;
}
.zz {
    box-shadow: 5px 5px 10px #888888;
}


@media (max-width: 990px) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px!important;
    }
    .mmm {
        padding-top: 140px;
    }

}
.topone{
    max-width: 550px;
}
/*for addProd button*/
.addProdBut{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    /*min-width: 150px;*/
}
.addProdSearch{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width:500px ;
}
.col{
    color: rgb(34, 122, 178);
    font-weight: 900;
}
@media (max-width: 550px) {
    .addProdBut{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: .9em;
    }
    .addProdSearch{
        margin-top: 5px;
        margin-bottom: 5px;
    }

}






.mes{
    background-color: white;
}
.inner{
    max-width: 400px;
}
.aaa {
    width: 100%;
    text-align: center;
}
.aaa li {
    display: inline-block; /* the key bit */
    *display: inline; /* IE7 hack */
    *zoom: 1; /* IE7 hack */
    padding-right: 10px;
    padding-left: 10px;
}
#bellow{
    text-decoration: none;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: .9em;
    color: #000000;
}
label.yy  {
    font-weight: 100;
}
.thumbnail.home{
    display: block;
    min-width: 150px;
    min-height: 250px;
    text-decoration: none;
    width: 170px;
}
#imgShow{
    padding-top: 10px;
   max-width: 150px;
   max-height: 150px;
}
#imgsize{
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 10px;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}
#erefds{
    min-width: 120px;
    min-height: 105px;
    margin-bottom: 10px;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}
/*----------------------------------------- for Show page----------------------------------------------*/

 img.fromShow
{
     margin-top: 10px;
     margin-bottom: 10px;
    max-height:400px;
    max-width:400px;
}
.panel-footer.pros-color{
    height: auto;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;
}
.panel-footer.cons-color{
    height: auto;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;
}

/*------------------------------------------for product Adding page----------------------------------------*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*  ---------------  for error messages -----------*/
.alerting{
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .9em;
    color: white;
    background-color: darkred;
    border-radius: 7px;
    position: absolute;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    z-index: 3;
}
.modal-header {
    padding-top: 13px;
}
.smalldown{
    margin-top: 5px;
    text-decoration: underline;
}
.modal-body input{
    font-weight: bold;
}
input.upload{
    width: 136px;
    height: 34px;
}
.thumbnail.preview{
    max-width: 130px;
    height: 110px;

    margin-bottom: 10px;
}
#asda{
    max-width: 100px;
    max-height: 100px;
}
.fileUpload{
    margin: 0;
}
#but{
    margin-top: 30px;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.big{
    margin-top: 30px;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.necessary {
    padding-top: 5px;
    padding-right: 5px;
    font-size: 0.8em;
    color: grey;
}
#spin{
    position: absolute;
    margin-top: 5px;
    margin-left: 43px;
}
.nothing{
    max-width: 500px;
    padding-bottom: 30px;
    font-weight: bold;
}
#regarding {
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 999;
}

#fromShow{
    max-width: 200px;
}
.ppp{
    padding-bottom: 30px;
}

@media (max-width: 550px) {
    .adj{
        max-width: 300px;
    }
    img.fromShow {
        max-height: 100px;
        max-width: 500px;
    }

}
@media (max-width: 350px) {
    .adj{
        max-width: 200px;
    }
}
hr.seen{
    margin-top: 5px;
    margin-bottom: 2px;
}
.seen{
    font-size: .9em;
    text-decoration: none;
    font-weight: bold;
}
.badge{
    background-color: cornflowerblue;
}

.vert{
    padding-top: 0;
    margin-top: -2px;
    margin-right: -6px;
}
span.data{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: .8em;
    color: grey;
}

@media (max-height: 669px) {
    .pross{
        max-height:300px;
        overflow-y:auto;
    }
}
@media (min-height: 670px) {
    .pross{
        max-height:450px;
        overflow-y:auto;
    }
}







/*! ngActivityIndicator - v0.1.8 (https://github.com/voronianski/ngActivityIndicator) */

.ai-indicator,.ai-indicator *,.ai-indicator :after,.ai-indicator :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.ai-white-spin{border-color:rgba(255,255,255,.5)rgba(255,255,255,.5)#fff #fff}.ai-white-parent>*{background:#fff}.ai-grey-spin{border-color:rgba(189,195,199,.5)rgba(189,195,199,.5)#bdc3c7 #bdc3c7}.ai-grey-parent>*{background:#bdc3c7}.ai-dark-spin{border-color:rgba(44,62,80,.5)rgba(44,62,80,.5)#2c3e50 #2c3e50}.ai-dark-parent>*{background:#2c3e50}.ai-circled{height:32px;width:32px;position:relative;border-width:5px;border-style:solid;border-radius:100%;-webkit-animation:ai-clockwise .6s linear infinite;animation:ai-clockwise .6s linear infinite}@-webkit-keyframes ai-clockwise{to{-webkit-transform:rotate(360deg) translateZ(0);transform:rotate(360deg) translateZ(0)}}@keyframes ai-clockwise{to{-webkit-transform:rotate(360deg) translateZ(0);-ms-transform:rotate(360deg) translateZ(0);transform:rotate(360deg) translateZ(0)}}.ai-dotted{width:36px}.ai-dotted .ai-inner1,.ai-dotted .ai-inner2,.ai-dotted .ai-inner3{display:inline-block;margin:.125em;width:.5em;height:.5em;border-radius:100%;-webkit-transform-origin:50%;-ms-transform-origin:50%;transform-origin:50%;-webkit-animation:ai-rotate .75s linear infinite;animation:ai-rotate .75s linear infinite}.ai-dotted .ai-inner2{-webkit-animation-delay:.1875s;animation-delay:.1875s}.ai-dotted .ai-inner3{-webkit-animation-delay:.375s;animation-delay:.375s}@-webkit-keyframes ai-rotate{0%{-webkit-transform:translateY(0%);transform:translateY(0%)}30%{-webkit-transform:translateY(-.25em);transform:translateY(-.25em)}50%{-webkit-transform:translateY(0%);transform:translateY(0%)}70%{-webkit-transform:translateY(0.25em);transform:translateY(0.25em)}}@keyframes ai-rotate{0%{-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%)}30%{-webkit-transform:translateY(-.25em);-ms-transform:translateY(-.25em);transform:translateY(-.25em)}50%{-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%)}70%{-webkit-transform:translateY(0.25em);-ms-transform:translateY(0.25em);transform:translateY(0.25em)}}.ai-spinner{position:absolute;width:100px;height:100px;-webkit-animation:ai-rotateThis 1s infinite linear;animation:ai-rotateThis 1s infinite linear;-webkit-transform:scale(0.3);-ms-transform:scale(0.3);transform:scale(0.3)}.ai-spinner>*{width:10px;height:30px;position:absolute;top:35px;left:45px;border-radius:50px}@-webkit-keyframes ai-rotateThis{from{-webkit-transform:scale(0.3) rotate(0deg);transform:scale(0.3) rotate(0deg)}to{-webkit-transform:scale(0.3) rotate(360deg);transform:scale(0.3) rotate(360deg)}}@keyframes ai-rotateThis{from{-webkit-transform:scale(0.3) rotate(0deg);-ms-transform:scale(0.3) rotate(0deg);transform:scale(0.3) rotate(0deg)}to{-webkit-transform:scale(0.3) rotate(360deg);-ms-transform:scale(0.3) rotate(360deg);transform:scale(0.3) rotate(360deg)}}.ai-bar1{-webkit-transform:rotate(0deg) translate(0,-40px);-ms-transform:rotate(0deg) translate(0,-40px);transform:rotate(0deg) translate(0,-40px);opacity:.1}.ai-bar2{-webkit-transform:rotate(36deg) translate(0,-40px);-ms-transform:rotate(36deg) translate(0,-40px);transform:rotate(36deg) translate(0,-40px);opacity:.2}.ai-bar3{-webkit-transform:rotate(72deg) translate(0,-40px);-ms-transform:rotate(72deg) translate(0,-40px);transform:rotate(72deg) translate(0,-40px);opacity:.3}.ai-bar4{-webkit-transform:rotate(108deg) translate(0,-40px);-ms-transform:rotate(108deg) translate(0,-40px);transform:rotate(108deg) translate(0,-40px);opacity:.4}.ai-bar5{-webkit-transform:rotate(144deg) translate(0,-40px);-ms-transform:rotate(144deg) translate(0,-40px);transform:rotate(144deg) translate(0,-40px);opacity:.5}.ai-bar6{-webkit-transform:rotate(180deg) translate(0,-40px);-ms-transform:rotate(180deg) translate(0,-40px);transform:rotate(180deg) translate(0,-40px);opacity:.6}.ai-bar7{-webkit-transform:rotate(216deg) translate(0,-40px);-ms-transform:rotate(216deg) translate(0,-40px);transform:rotate(216deg) translate(0,-40px);opacity:.7}.ai-bar8{-webkit-transform:rotate(252deg) translate(0,-40px);-ms-transform:rotate(252deg) translate(0,-40px);transform:rotate(252deg) translate(0,-40px);opacity:.8}.ai-bar9{-webkit-transform:rotate(288deg) translate(0,-40px);-ms-transform:rotate(288deg) translate(0,-40px);transform:rotate(288deg) translate(0,-40px);opacity:.9}.ai-bar10{-webkit-transform:rotate(324deg) translate(0,-40px);-ms-transform:rotate(324deg) translate(0,-40px);transform:rotate(324deg) translate(0,-40px);opacity:1}