/* --------------------------------------
   Layout
   -------------------------------------- */

body {
    padding-top: 20px; /*body to be below the navbar*/
    /*-webkit-font-smoothing: antialiased;*/
    /*text-rendering: optimizelegibility;*/
    font-family: Tahoma;
}
/*set Navbar background image*/
.navbar {
    background-color: white;
    /*background: url('../images/Nav.png') top center no-repeat;*/
}

/*#menu {*/
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 0;*/
    /*//width: 8em;*/
    /*margin-top: -2.5em;*/
/*}*/

/*buttons into the navbar*/
.navButtons{

    margin-top: 8px;
}
.logout{
    margin-left: 5px;
}


footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

/*--------------------------------------- for Home page-----------------------------------------*/
/*disables auto zoom on mobile devices */
@media (max-width: 768px) {

    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px!important;
    }
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {*/

/*select:focus,*/
/*textarea:focus,*/
/*input:focus {*/
/*font-size: 16px!important;*/
/*}*/
/*}*/





/*for search bar and addProd button*/
.topone{
    max-width: 500px;
}
/*for addProd button*/
.addProdBut{
    margin-top: 10px;
    margin-bottom: 20px;
    min-width: 150px;
}
.addProdSearch{
    margin-bottom: 30px;
}
/*.ask{*/
    /*background-color: #FFF5E6;*/
/*}*/
.mes{
    background-color: white;
}
.inner{
    max-width: 400px;
}
/*.mes label{*/
    /*color: ;*/
/*}*/
/*centers li in ul*/
.aaa { /* also works with ol */
    width: 100%; /* or your desired width */
    text-align: center; /* this will center the list items */
}
.aaa li {
    display: inline-block; /* the key bit */
    *display: inline; /* IE7 hack */
    *zoom: 1; /* IE7 hack */
}

.thumbnail .home{
    display: block;
    width: 140px;
    min-height: 250px;
}
/*Оразмерява thumbnail*/
.home-image{
    width: auto;
    max-height: 100px;
    overflow: hidden;
}
/*ограничава дължината на текста, като го прехварля на друг ред*/
/*.fix-text-length{*/
    /*max-width:100px;*/
    /*word-wrap: break-word;*/
/*}*/

/*blur the thumbnails -- only for desktop*/
@media (min-width: 768px) {
    a.thumbnail {
        opacity: 0.7;
    }
}
/*contrast the thumbnails and remove the underlines*/
a.thumbnail.home:hover{
    text-decoration: none;
    opacity: 1;

}
a.thumbnail.home:hover{
    text-decoration: none;
    opacity: 1;

}

/*----------------------------------------- for Show page----------------------------------------------*/

 img.fromShow /*Оразмерява thumbnail*/
{
     margin-top: 10px;
     margin-bottom: 10px;
    max-height:400px;
    max-width:400px;
}
.panel-footer.pros-color{
    height: auto;
    background: #daf0e2;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;
}
.panel-footer.cons-color{
    height: auto;
    background: #ffd4d4;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;
}

/*------------------------------------------for product Adding page----------------------------------------*/


/*Adjusting of file-upload button*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.thumbnail img.prevImg /*Adjusting preview thumbnail image*/
{
    max-height:200px;
    max-width:200px;
}

/*------------------------------------------for modals----------------------------------------*/
#redAlert{
    color: red;
    margin-bottom: 10px;
}

.redAlertEmail{
    color: red;
    margin-bottom: 10px;
}
.sinupMargin{
    margin-left: 5px;
}


.well {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #f0f0f0
}
.modal-body .center-block {
    padding-bottom: 5px;
}
.modal-header label {
    margin: 0 0 1px;
}
.modal-header p {
    margin: 0 0 1px;
}


/*---------------------------------recover pass------------------*/

.recover{
    max-height:400px;
    max-width:300px;
}
.recover p{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 700;

}
.recover .redAlert{
    color: red;
    margin-right: 5px;
}
.recover .popover-content {
    color: red;
    font-size: 12px;
    font-weight: 700;
}























/*input::-webkit-input-placeholder {*/
    /*color: rgba(255,0,255,1);*/
    /*opacity: 1 !important; *//* for chrome */
/*}*/

/*input:-moz-placeholder { *//* Firefox 18- */
    /*color: #FF0000;*/
/*}*/

/*input::-moz-placeholder {  *//* Firefox 19+ */
    /*color: #FF0000;*/
/*}*/

/*input:-ms-input-placeholder {*/
    /*color: #FF0000;*/
/*}*/




/*Настройка на падащите менюта*/
/*.dropdown-submenu {*/
    /*position: relative;*/
/*}*/
/*.dropdown-submenu>.dropdown-menu {*/
    /*top: 0;*/
    /*left: 100%;*/
    /*margin-top: -6px;*/
    /*margin-left: -1px;*/
    /*-webkit-border-radius: 0 6px 6px 6px;*/
    /*-moz-border-radius: 0 6px 6px;*/
    /*border-radius: 0 6px 6px 6px;*/
/*}*/
/*.dropdown-submenu:hover>.dropdown-menu {*/
    /*display: block;*/
/*}*/
/*.dropdown-submenu>a:after {*/
    /*display: block;*/
    /*content: " ";*/
    /*float: right;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-color: transparent;*/
    /*border-style: solid;*/
    /*border-width: 5px 0 5px 5px;*/
    /*border-left-color: #ccc;*/
    /*margin-top: 5px;*/
    /*margin-right: -10px;*/
/*}*/
/*.dropdown-submenu:hover>a:after {*/
    /*border-left-color: #fff;*/
/*}*/
/*.dropdown-submenu.pull-left {*/
    /*float: none;*/
/*}*/
/*.dropdown-submenu.pull-left>.dropdown-menu {*/
    /*left: -100%;*/
    /*margin-left: 10px;*/
    /*-webkit-border-radius: 6px 0 6px 6px;*/
    /*-moz-border-radius: 6px 0 6px 6px;*/
    /*border-radius: 6px 0 6px 6px;*/
/*}*/

/*Thumnail images*/

/*.row li {*/
    /*width: 33.3%;*/
    /*float: left;*/
/*}*/
/*img {*/
    /*border: 0 none;*/
    /*display: inline-block;*/
    /*height: auto;*/
    /*max-width: 100%;*/
    /*vertical-align: middle;*/
/*}*/


/* for IE*/
/*.js-fileapi-wrapper {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

/* --------------------------------------
   Navbar
   -------------------------------------- */

/*#searchInput {*/
	/*width: 200px;*/
/*}*/

/*.navbar-brand {*/
	/*padding: 13px 15px;*/
/*}*/

/* --------------------------------------
   Global Styles
   -------------------------------------- */

/*.alert {*/
	/*margin-top: 20px;*/
	/*display: none;*/
/*}*/






