doctype
html
    head
        title Мнения и Препоръки
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        meta(name="description", content="Отворена книга за мнения и препоръки.")
        //meta(name="keywords" content="мнение,мнения,мнението,мненията,препоръка,препоръчвам,препоръчка,препоръки,препоръката,книга за препоръки,книга за мнения")
        meta(name="revisit-after", content="1 days")
        meta(name="robots", content="index,follow")
        // Bootstrap CSS
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        //link(rel="stylesheet" href="/css/bootstrap-glyphicons.css")

        //Angular notify CSS
        link(rel="stylesheet" href="/lib/angular-notify/dist/angular-notify.min.css")

        //link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Poiret+One|Neucha|Tenor+Sans|Anonymous+Pro|Open+Sans+Condensed:300&subset=latin,cyrillic')

        //favicon images
        link(rel="shortcut icon" href="./images/favicon.ico")
        link(rel="apple-touch-icon" href="./images/favicon.png")
        // Other CSS
        //link(rel="stylesheet" href="/lib/toastr/toastr.css")

        // Custom CSS
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="/css/test.css")


    body



        block main-content


        include scripts
        include currentUser
