doctype
html
    head
        title Boklucite ni
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="description", content="")
        meta(name="keywords" content="")
        meta(name="revisit-after", content="1 days")
        meta(name="robots", content="index,follow")
        // Bootstrap CSS
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bootstrap-glyphicons.css")
        //link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Poiret+One|Neucha|Tenor+Sans|Anonymous+Pro|Open+Sans+Condensed:300&subset=latin,cyrillic')

        // Other CSS
        //link(rel="stylesheet" href="/lib/toastr/toastr.css")

        // Custom CSS
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="/css/test.css")
    body



        block main-content


        include scripts
        include currentUser
