script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload-shim.min.js")
script(type="text/javascript" src="/lib/angular/angular.min.js")
//script(type="text/javascript" src="/js/angular-cookies.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.min.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.min.js")
script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload.min.js")
script(type="text/javascript" src="/js/ui-bootstrap-tpls-0.11.2.min.js")

script(type="text/javascript" src="/app/app.min.js")
script(type="text/javascript" src="/app/controllers/homeCtrl.min.js")
script(type="text/javascript" src="/app/controllers/productShowCtrl.min.js")
//script(type="text/javascript" src="/app/controllers/addCtrl.min.js")



script(type="text/javascript" src="/lib/ngActivityIndicator/ngActivityIndicator.min.js")


