// JQuery SCRIPT
script(type="text/javascript", src="/lib/jquery/dist/jquery.min.js")

// Bootstrap SCRIPT
//script(src="/lib/bootstrap/dist/js/bootstrap.min.js")

// Other SCRIPTS
//script(src="/lib/toastr/toastr.js")

// Angular SCRIPTS
script(type="text/javascript" src="/lib/angular/angular.min.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.min.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.min.js")
//script(type="text/javascript" src="/lib/ng-table/ng-table.js")
//script(type="text/javascript" src="/js/extra/ui-bootstrap-carousel-tpls-0.10.0.min.js")
//script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload-shim.min.js")
script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload.min.js")

//angular - bootstrap - UI
script(type="text/javascript" src="/js/ui-bootstrap-tpls-0.11.2.min.js")


// Custom SCRIPTS
script(type="text/javascript" src="/app/app.min.js")

// Controllers
script(type="text/javascript" src="/app/controllers/homeCtrl.min.js")
script(type="text/javascript" src="/app/controllers/productAddCtrl.js")
script(type="text/javascript" src="/app/controllers/productShowCtrl.min.js")
script(type="text/javascript" src="/app/controllers/loginCtrl.js")
script(type="text/javascript" src="/app/controllers/modalLoginCtrl.js")
script(type="text/javascript" src="/app/controllers/modalSignupCtrl.js")
// Services

script(type="text/javascript" src="/app/services/productAddService.js")
script(type="text/javascript" src="/app/services/identityService.js")
script(type="text/javascript" src="/app/services/authService.js")